/**
 * Created by Shubham on 10/8/2015.
 */

body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    height: 45px;
    background-color: white;
}
.noti {
    position: relative;
    display: block;
    padding: 10px;
    left: 150px;
}
.icon-bell {
    position: absolute;
    top: 10px;
    font-size: 1.5em;
    color: grey;
    cursor: pointer;
    padding-left: 5px;
    border-left: 1px solid lightgrey;
}
.noti-number {
    position: absolute;
    top: 10px;
    left: 29px;
    color: white;
    background-color: #00cdcd;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 0.75em;
    border: 1px solid white;
    cursor: pointer;
    display: none;
}
.noti-title {
    position: absolute;
    display: none;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 1.2em;
    color: gray;
    background-color: white;
    height: 40px ;
    opacity: 1;
    top: 354%;
    left: -9%;
    width: 300px;
    border-radius: 5px 5px 0 0;
}
.noti-title-number {
    display: block;
    padding: 0 6px;
    color: white;
    background-color: #00cdcd;
    border-radius: 100%;
    text-align: center;
    margin: 5px;
    display: none;
    font-size: 0.8em;
}
.noti-dropdown {
    position: absolute;
    top: 600%;
    left: -9%;
    display: none;
    padding: 0;
    color: black;
    background-color: white;
    list-style-type: none;
    width: 300px;
    height: 210px;
    overflow: auto;
    opacity: 0.1;
    margin: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.nub {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    display: inline-block;
    top: -5px;
    left: 144px;
    transform: rotate(45deg);
}
.noti-dropdown > li > a {
    color: gray;
}
.noti-dropdown > li {
    display: block;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    height: 70px;
    background-color: #E9EFF2;
    opacity: 0;
    text-align: center;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
}
.noti-dropdown > li:hover {
    background-color: #dbe1e4 ;
}
.new {
    background-color: #d5dbde !important;
}
.noti-item-photo {
    display: block;
    box-sizing: border-box;
    width: 22%;
    float: left;
    height: auto;
    margin: 3px;
}
.noti-item-photo > span {
    display: block;
    width: 45px;
    height: 45px;
    background-color: white !important;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.noti-item-content {
    width: 72%;
    float: left;
    font-size: 0.9em;
    text-align: left;
    vertical-align: middle;
    margin-top: 5px;
}
.placeholder {
    position: absolute;
    color: gray;
    top: 30%;
    left: 25%;
}
section {
    width: 800px;
    margin: 0 auto;
    border: 1px solid white;
    margin-top: 250px;
    padding: 20px;
}