body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    height: 45px;
    background-color: white;
}
.noti {
    position: relative;
    display: block;
    border-left: 1px solid lightgrey;
    padding: 10px;
    left: 150px;
}
.icon-bell {
    position: absolute;
    top: 10px;
    font-size: 1.5em;
    color: grey;
    cursor: pointer;
}
.noti-number {
    position: absolute;
    top: 8px;
    left: 22px;
    color: white;
    background-color: #00cdcd;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 0.75em;
    border: 1px solid white;
    cursor: pointer;
    display: none;
}
.noti-title {
    text-align: center !important;
    padding: 0 20px 0 20px !important;
    font-size: 1.2em !important;
    color: gray;
    background-color: white !important;
    margin-top: 10px;
    height: 40px !important;
    opacity: 1;
}
.noti-title-number {
    display: inline-block !important;
    color: white;
    background-color: #00cdcd;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
    margin: 5px;
    display: none;
    font-size: 0.8em;
}
.noti-dropdown {
    position: absolute;
    top: 300%;
    left: -8%;
    display: none;
    padding: 0;
    color: black;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    list-style-type: none;
    width: 300px;
    height: 330px;
    overflow: auto;
    opacity: 0.1;
    margin: 0;
}
.noti-dropdown > li > a {
    color: gray;
}
.noti-dropdown > li {
    display: block;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    height: 70px;
    background-color: #E9EFF2;
    opacity: 0;
    text-align: center;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
}
.noti-dropdown > li:hover {
    background-color: #dbe1e4 ;
}
.new {
    background-color: #d5dbde !important;
}
.noti-item-photo {
    display: block;
    box-sizing: border-box;
    width: 22%;
    float: left;
    height: auto;
    margin: 3px;
}
.noti-item-photo > span {
    display: block;
    width: 45px;
    height: 45px;
    background-color: white !important;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.noti-item-content {
    width: 72%;
    float: left;
    font-size: 0.9em;
    text-align: left;
    vertical-align: middle;
    margin-top: 5px;
}